body {

    background-color: rgb(157, 116, 116);
    text-align: center;

}

h1 {

font-family: 'Alkatra', cursive;
font-size: 6rem;
color: #e7d8d8;

}

h2 {
    
    font-family: 'Dancing Script', cursive;
}

.p-dice {

    display: inline-block;
    margin: -50px 36px;
    line-height: 65px;

}

img{

    height: 200px;
    width: 200px;

}

#container {

    text-align: center;
}

.btn-reload {

    font-size: 2rem;
    background-color: #c79191;
    border: 5px solid #865e5e;
    color: #49415d;
    margin: 3% 0;
    font-family: 'Dancing Script', cursive;
    text-shadow: 3px 0 rgb(154, 71, 66);
    border-radius: 15px;
    padding: 15px;
}

.btn-reload:hover {

    background-color: #a79393;
}